<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title} | Low Carbon App</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/icons/logo192.png" />
  <meta name="theme-color" content="#f6f6f6" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="stylesheet" href="/assets/css/app.css" />
  <meta property="og:image" content="/assets/images/social.png" />
  <meta property="og:image:alt" content="An exploration into a low carbon PWA news app" />
  <meta property="og:site_name" content="Low Carbon App" />
</head>

<body data-theme="light">
  <header></header>
  <main role="main" id="main-content">
    <div class="gel-page-contents">
      <div class="gel-wrap">
        <div class="gel-page-contents__inner">
          <noscript>
            This application requires JavaScript to display the experimentation data, please enable JavaScript
            in your browser to continue.
          </noscript>
          {body}
        </div>
      </div>
    </div>
  </main>
</body>